// Paleta de colores
$color-aqua-claro: #32BFCD;
$color-gris: #595A5A;
$color-aqua-oscuro: #008BA6;
$color-background-light: #eee;
$color-background-f9: #f9f9f9;
$color-background-f3: #f3f9fa; 
$color-white: #fff;
$color-black: #000;
$color-text-default: #333;
$color-text-muted: #777;
$color-border-light: #ddd;
$color-button-action: #00c6c6;
$color-star-rating: #ffc107;
$color-button-contact: #0077cc;
$color-button-contact-hover: #005fa3;
$color-button-tratamientos: #48d8eb;
$color-button-tratamientos-hover: #dfe0e0;

// Tipografías
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Arial', sans-serif; 
$font-crimson: 'Crimson Text', serif;
$font-dynapuff: 'DynaPuff', cursive;
$font-rouge-script: 'Rouge Script', cursive;

$font-size-base: 1rem;
$font-size-medium: 1.125rem; // navbar-nav .nav-link
$font-size-large: 1.25rem; 
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.25rem;

$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 20px;
$border-radius-xlarge: 40px;

